.tooltip {
  -fx-background-color: linear-gradient(#c0bcb6, #aca9a3);
  -fx-background-radius: 6;
  -fx-text-fill: #ffffff;
  -fx-font: 12px Dekko;
  -fx-font-weight: bold;
  -fx-wrap-text: true;
}
/******************************************************************************************/
/* The root containing the elements displayed in the start up screen*/
/******************************************************************************************/
#startScreenRoot {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-background-color: #f3f3f3;
	-fx-background-radius: 2;
}
/******************************************************************************************/
/* The root containing the elements displayed in the user screen*/
/******************************************************************************************/
#userScreenRoot {
	-fx-alignment: center;
	-fx-background-color: #ffffff;
}
/******************************************************************************************/
/* The root containing the elements displayed in the error screen*/
/******************************************************************************************/
#errorScreenRoot {
	-fx-alignment: center;
	-fx-background-color: #f3f3f3;
}
/******************************************************************************************/
/* The root containing the informational panel displayed on the screen */
/******************************************************************************************/
#infoPanel {
	-fx-alignment: center;
	-fx-max-width: 200;
	-fx-min-width: 200;
	-fx-pref-width: 200;
	-fx-background-color: #f3f3f3;
	-fx-background-radius: 6;
	-fx-padding: 5 15 5 15;
	-fx-border-style: solid inside;
	-fx-border-width: 1 1 1 1;
	-fx-border-insets: 0;
	-fx-border-radius: 6;
	-fx-border-color: #555555;
}
/******************************************************************************************/
/* The root containing the turtle panel that houses the turtles displayed on the screen */
/******************************************************************************************/
#turtlePanel {
	-fx-alignment: center;
	-fx-background-color: transparent;
	-fx-background-radius: 6;
	-fx-border-style: solid inside;
	-fx-border-width: 1 1 1 1;
	-fx-border-insets: 0;
	-fx-border-radius: 6;
	-fx-border-color: #555555;
}
#turtlePanel > .viewport {
	-fx-background-color: transparent;
}
/******************************************************************************************/
/* The root containing the input panel that the user can interact with displayed on the screen */
/******************************************************************************************/
#inputPanel {
	-fx-alignment: center;
	-fx-max-height: 150;
	-fx-min-height: 150;
	-fx-pref-height: 150;
	-fx-background-color: #f3f3f3;
	-fx-background-radius: 6;
	-fx-padding: 5 5 5 5;
	-fx-border-style: solid inside;
	-fx-border-width: 0 0 0 0;
	-fx-border-insets: 0;
	-fx-border-radius: 6;
	-fx-border-color: #555555;
}
/******************************************************************************************/
/* The label displaying the error message */ 
/******************************************************************************************/
#errorLabel {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-text-fill: #000033;
	-fx-font: 32px Dekko;
}
/******************************************************************************************/
/* The text field where the user can input commands */ 
/******************************************************************************************/
#inputField {
	-fx-alignment: center;
	-fx-background-color: transparent;
	-fx-highlight-fill: #fbcbd7;
	-fx-highlight-text-fill: #555555;
	-fx-text-fill: #555555;
	-fx-prompt-text-fill: #c0bcb6;
	-fx-font: 16px 'Nova Flat';
}
#inputField:focused {
	-fx-faint-focus-color: rgba(192, 188, 182, 0.5);
}
#inputField .scroll-bar:horizontal ,
#inputField  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#inputField .scroll-bar .increment-arrow ,
#inputField .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#inputField .increment-button ,
#inputField .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#inputField .scroll-bar:horizontal .thumb,
#inputField .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#inputField .scroll-bar:horizontal .thumb:hover,
#inputField .scroll-bar:vertical .thumb:hover,
#inputField .scroll-bar:horizontal .thumb:pressed,
#inputField .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
/******************************************************************************************/
/* The text field where the user can view the output of inputted commands */ 
/******************************************************************************************/
#consoleField {
	-fx-alignment: center;
	-fx-padding: 0 10 0 5;
	-fx-background-color: transparent;
	-fx-highlight-fill: #fbcbd7;
	-fx-highlight-text-fill: #555555;
	-fx-text-fill: #555555;
	-fx-prompt-text-fill: #c0bcb6;
	-fx-font: 16px 'Nova Flat';
}
#consoleField:focused {
	-fx-faint-focus-color: rgba(192, 188, 182, 0.5);
}
#consoleField .scroll-bar:horizontal ,
#consoleField  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#consoleField .scroll-bar .increment-arrow ,
#consoleField .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#consoleField .increment-button ,
#consoleField .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#consoleField .scroll-bar:horizontal .thumb,
#consoleField .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#consoleField .scroll-bar:horizontal .thumb:hover,
#consoleField .scroll-bar:vertical .thumb:hover,
#consoleField .scroll-bar:horizontal .thumb:pressed,
#consoleField .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
/******************************************************************************************/
/* The apply button to apply some visualization property changes */
/******************************************************************************************/
#applyButton {
	-fx-alignment: center;
	-fx-pref-width: 160px;
	-fx-max-width: 160px;
	-fx-min-width: 160px;
	-fx-min-height: 50px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #1fbed6;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0077b5;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#applyButton:disabled, #applyButton:disabled > * {
	-fx-opacity: 0.7;
}
#applyButton:hover {
	-fx-background-color: linear-gradient(#1fbed6, #0077b5);
} 
#applyButton:hover {
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
}
/******************************************************************************************/
/* The start button to advance to the user screen */
/******************************************************************************************/
#startButton {
	-fx-alignment: center;
	-fx-pref-width: 400px;
	-fx-max-width: 400px;
	-fx-min-width: 400px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #69b366;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #1e8d19;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#startButton:disabled, #startButton:disabled > * {
	-fx-opacity: 0.7;
}
#startButton:hover {
	-fx-background-color: linear-gradient(#69b366, #1e8d19);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The run button to run a command the user has entered */
/******************************************************************************************/
#runButton {
	-fx-alignment: center;
	-fx-pref-width: 120px;
	-fx-max-width: 120px;
	-fx-min-width: 120px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #69b366;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #1e8d19;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#runButton:disabled, #runButton:disabled > * {
	-fx-opacity: 0.7;
}
#runButton:hover {
	-fx-background-color: linear-gradient(#69b366, #1e8d19);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The clear button to run a command the user has entered */
/******************************************************************************************/
#clearButton {
	-fx-alignment: center;
	-fx-pref-width: 120px;
	-fx-max-width: 120px;
	-fx-min-width: 120px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #62d1e2;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #1fbed6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#clearButton:disabled, #clearButton:disabled > * {
	-fx-opacity: 0.7;
}
#clearButton:hover {
	-fx-background-color: linear-gradient(#62d1e2, #1fbed6);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The drop down choice box the user uses to pick a language to use in the program */
/******************************************************************************************/
#languageChooser {
	-fx-alignment: center;
    -fx-background-color: #fe9c6f;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #fe793c;
    -fx-padding: 0;
}
#languageChooser .list-cell {
	-fx-pref-width: 190px;
	-fx-max-width: 190px;
	-fx-min-width: 190px;
	-fx-pref-height: 50px;
	-fx-min-height: 50px;
    -fx-background: #fe9c6f;
    -fx-background-color: #fe9c6f;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
}
#languageChooser .list-view {
    -fx-background-color: transparent;
}    
#languageChooser .list-view .list-cell {
	-fx-background-color: #fe9c6f;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #fe793c;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
}
#languageChooser .arrow-button {
	-fx-background-color: transparent
}
#languageChooser .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#languageChooser:hover {
	-fx-background-color: linear-gradient(#fe9c6f, #fe793c);
    -fx-text-fill: #ffffff;
}
#languageChooser:hover .list-cell {
	-fx-background-color: linear-gradient(#fe9c6f, #fe793c);
    -fx-text-fill: #ffffff;
    -fx-font: 18px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:hover .arrow-button {
	-fx-background-color: linear-gradient(#fe9c6f, #fe793c);
}
#languageChooser:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#languageChooser:showing {
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:showing .list-cell {
	-fx-pref-width: 160px;
	-fx-max-width: 160px;
	-fx-min-width: 160px;
	-fx-pref-height: 50px;
	-fx-min-height: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:showing .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#languageChooser:showing .arrow-button {
	-fx-background-color: transparent;
}
#languageChooser:showing:hover {
    -fx-background-color: linear-gradient(#fe9c6f, #fe793c);
    -fx-text-fill: #ffffff;
    -fx-font: 18px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:showing:hover .list-cell{
    -fx-background-color: linear-gradient(#fe9c6f, #fe793c);
    -fx-text-fill: #ffffff;
    -fx-font: 18px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:showing:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#languageChooser .list-view .list-cell:filled:selected, 
#languageChooser .list-view .list-cell:filled:selected:hover {
    -fx-background: linear-gradient(#fe9c6f, #fe793c);
    -fx-background-color: linear-gradient(#fe9c6f, #fe793c);
    -fx-text-fill: #ffffff;
}
#languageChooser .list-view .list-cell:filled:hover {
    -fx-background-color: linear-gradient(#fe9c6f, #fe793c);
    -fx-text-fill: #ffffff;
    -fx-font: 18px Dekko;
    -fx-font-weight: bold;
}
#languageChooser .scroll-bar:horizontal ,
#languageChooser  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#languageChooser .scroll-bar .increment-arrow ,
#languageChooser .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#languageChooser .increment-button ,
#languageChooser .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#languageChooser .scroll-bar:horizontal .thumb,
#languageChooser .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#languageChooser .scroll-bar:horizontal .thumb:hover,
#languageChooser .scroll-bar:vertical .thumb:hover,
#languageChooser .scroll-bar:horizontal .thumb:pressed,
#languageChooser .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#languageChooser:disabled {
    -fx-opacity: .4;
}
/******************************************************************************************/
/* The settings button to switch to the settings panel */
/******************************************************************************************/
#settingsButton {
	-fx-alignment: center;
	-fx-pref-width: 100px;
	-fx-max-width: 100px;
	-fx-min-width: 100px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #1fbed6;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0077b5;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#settingsButton:disabled, #applyButton:disabled > * {
	-fx-opacity: 0.7;
}
#settingsButton:hover {
	-fx-background-color: linear-gradient(#1fbed6, #0077b5);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The variables button to switch to the variables panel */
/******************************************************************************************/
#variablesButton {
	-fx-alignment: center;
	-fx-pref-width: 100px;
	-fx-max-width: 100px;
	-fx-min-width: 100px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #1fbed6;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0077b5;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#variablesButton:hover {
	-fx-background-color: linear-gradient(#1fbed6, #0077b5);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The history button to switch to the history panel */
/******************************************************************************************/
#historyButton {
	-fx-alignment: center;
	-fx-pref-width: 100px;
	-fx-max-width: 100px;
	-fx-min-width: 100px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #1fbed6;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0077b5;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#historyButton:hover {
	-fx-background-color: linear-gradient(#1fbed6, #0077b5);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 

/******************************************************************************************/
/* The help button to switch to the help panel */
/******************************************************************************************/
#helpButton {
	-fx-alignment: center;
	-fx-pref-width: 100px;
	-fx-max-width: 100px;
	-fx-min-width: 100px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #1fbed6;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0077b5;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#helpButton:hover {
	-fx-background-color: linear-gradient(#1fbed6, #0077b5);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The user commands button to switch to the user commands panel */
/******************************************************************************************/
#commandsButton {
	-fx-alignment: center;
	-fx-pref-width: 100px;
	-fx-max-width: 100px;
	-fx-min-width: 100px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #1fbed6;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0077b5;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 10px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#commandsButton:hover {
	-fx-background-color: linear-gradient(#1fbed6, #0077b5);
	-fx-font: 10px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The back button to switch from a specific info panel to the Info panels navigation panel */
/******************************************************************************************/
#backButton {
	-fx-alignment: center;
	-fx-pref-width: 100px;
	-fx-max-width: 100px;
	-fx-min-width: 100px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #1fbed6;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0077b5;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#backButton:hover {
	-fx-background-color: linear-gradient(#1fbed6, #0077b5);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* Centers a VBox or HBox used for aligning control object locations */
/******************************************************************************************/
#centerBox {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-background-color: #f3f3f3;
}
/******************************************************************************************/
/* Holds the user input area, used to position text area control object locations */
/******************************************************************************************/
#centerTextField {
	-fx-spacing: 10;
	-fx-padding: 0;
	-fx-alignment: center;
	-fx-background-color: #f3f3f3;
}
/******************************************************************************************/
/* Box containing the run button */
/******************************************************************************************/
#runBox {
	-fx-alignment: center;
	-fx-spacing: 10;
	-fx-pref-width: 200px;
	-fx-max-width: 200px;
	-fx-min-width: 200px;
	-fx-pref-height: 140px;
	-fx-max-height: 140px;
	-fx-min-height: 140px;
	-fx-background-color: #f3f3f3;
	-fx-background-radius: 6;
	-fx-padding: 0 0 0 0;
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 0;
	-fx-border-radius: 6;
	-fx-border-color: #555555;
}
