.tooltip {
  -fx-background-color: linear-gradient(#c0bcb6, #aca9a3);
  -fx-background-radius: 6;
  -fx-text-fill: #ffffff;
  -fx-font: 12px Dekko;
  -fx-font-weight: bold;
  -fx-wrap-text: true;
}
/******************************************************************************************/
/* The root containing the elements displayed in the start up screen*/
/******************************************************************************************/
#startScreenRoot {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-background-color: #f3f3f3;
	-fx-background-radius: 2;
}
/******************************************************************************************/
/* The root containing the elements displayed in the user screen*/
/******************************************************************************************/
#userScreenRoot {
	-fx-alignment: center;
	-fx-background-color: #ffffff;
}
/******************************************************************************************/
/* The root containing the elements displayed in the error screen*/
/******************************************************************************************/
#errorScreenRoot {
	-fx-alignment: center;
	-fx-background-color: #f3f3f3;
}
/******************************************************************************************/
/* The root containing the informational panel displayed on the screen */
/******************************************************************************************/
#infoPanel {
	-fx-alignment: center;
	-fx-spacing: 20;
	-fx-max-width: 200;
	-fx-min-width: 200;
	-fx-pref-width: 200;
	-fx-background-color: #f3f3f3;
	-fx-background-radius: 6;
	-fx-padding: 15 15 15 15;
	-fx-border-style: solid inside;
	-fx-border-width: 1 1 1 1;
	-fx-border-insets: 0;
	-fx-border-radius: 6;
	-fx-border-color: #555555;
}
/******************************************************************************************/
/* The root containing the turtle panel that houses the turtles displayed on the screen */
/******************************************************************************************/
#turtlePanel {
	-fx-alignment: center;
	-fx-background-color: transparent;
	-fx-background-radius: 6;
	-fx-border-style: solid inside;
	-fx-border-width: 1 1 1 1;
	-fx-border-insets: 0;
	-fx-border-radius: 6;
	-fx-border-color: #555555;
}
#turtlePanel > .viewport {
	-fx-background-color: transparent;
}
/******************************************************************************************/
/* The root containing the input panel that the user can interact with displayed on the screen */
/******************************************************************************************/
#inputPanel {
	-fx-alignment: center;
	-fx-max-height: 150;
	-fx-min-height: 150;
	-fx-pref-height: 150;
	-fx-background-color: #f3f3f3;
	-fx-background-radius: 6;
	-fx-padding: 5 5 5 5;
	-fx-border-style: solid inside;
	-fx-border-width: 0 0 0 0;
	-fx-border-insets: 0;
	-fx-border-radius: 6;
	-fx-border-color: #555555;
}
/******************************************************************************************/
/* The label displaying the error message */ 
/******************************************************************************************/
#errorLabel {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-text-fill: #000033;
	-fx-font: 32px Dekko;
}
/******************************************************************************************/
/* The label displaying a command from the command history */ 
/******************************************************************************************/
#historyLabel {
	-fx-min-width: 100;
	-fx-pref-width: 100;
	-fx-background-color: #ffffff;
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 0;
	-fx-border-radius: 0;
	-fx-border-color: rgba(192, 188, 182, 0.5);
	-fx-text-alignment: left;
	-fx-font: 12px Dekko;
}
#historyLabel .text {
	-fx-stroke: #555555;
	-fx-stroke-width: 0.3px;
}
/******************************************************************************************/
/* The label displaying a single integer */ 
/******************************************************************************************/
#numberLabel {
	-fx-min-width: 50;
	-fx-pref-width: 50;
	-fx-background-color: #ffffff;
	-fx-border-style: solid inside;
	-fx-border-width: 0 1 0 0;
	-fx-border-insets: 0;
	-fx-border-radius: 0;
	-fx-border-color: rgba(192, 188, 182, 0.5);
	-fx-text-alignment: left;
	-fx-font: 12px Dekko;
}
#numberLabel .text {
	-fx-stroke: #555555;
	-fx-stroke-width: 1px;
}
/******************************************************************************************/
/* The text field where the user can input commands */ 
/******************************************************************************************/
#inputField {
	-fx-alignment: center;
	-fx-background-color: transparent;
	-fx-highlight-fill: #fbcbd7;
	-fx-highlight-text-fill: #555555;
	-fx-text-fill: #555555;
	-fx-prompt-text-fill: #c0bcb6;
	-fx-font: 16px 'Nova Flat';
}
#inputField:focused {
	-fx-faint-focus-color: rgba(192, 188, 182, 0.5);
}
#inputField .scroll-bar:horizontal ,
#inputField  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#inputField .scroll-bar .increment-arrow ,
#inputField .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#inputField .increment-button ,
#inputField .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#inputField .scroll-bar:horizontal .thumb,
#inputField .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#inputField .scroll-bar:horizontal .thumb:hover,
#inputField .scroll-bar:vertical .thumb:hover,
#inputField .scroll-bar:horizontal .thumb:pressed,
#inputField .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
/******************************************************************************************/
/* The text field where the user can view the output of inputted commands */ 
/******************************************************************************************/
#consoleField {
	-fx-alignment: center;
	-fx-padding: 0 10 0 5;
	-fx-background-color: transparent;
	-fx-highlight-fill: #fbcbd7;
	-fx-highlight-text-fill: #555555;
	-fx-text-fill: #555555;
	-fx-prompt-text-fill: #c0bcb6;
	-fx-font: 16px 'Nova Flat';
}
#consoleField:focused {
	-fx-faint-focus-color: rgba(192, 188, 182, 0.5);
}
#consoleField .scroll-bar:horizontal ,
#consoleField  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#consoleField .scroll-bar .increment-arrow ,
#consoleField .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#consoleField .increment-button ,
#consoleField .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#consoleField .scroll-bar:horizontal .thumb,
#consoleField .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#consoleField .scroll-bar:horizontal .thumb:hover,
#consoleField .scroll-bar:vertical .thumb:hover,
#consoleField .scroll-bar:horizontal .thumb:pressed,
#consoleField .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
/******************************************************************************************/
/* The settings text areas for displaying text */ 
/******************************************************************************************/
#settingsField {
	-fx-alignment: center;
	-fx-padding: 5 5 5 5;
	-fx-background-color: transparent;
	-fx-highlight-fill: #fbcbd7;
	-fx-highlight-text-fill: #555555;
	-fx-text-fill: #555555;
	-fx-prompt-text-fill: #c0bcb6;
	-fx-font: 12px 'Nova Flat';
}
#settingsField:focused {
	-fx-faint-focus-color: rgba(192, 188, 182, 0.5);
}
#settingsField .scroll-bar:horizontal ,
#settingsField  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#settingsField .scroll-bar .increment-arrow ,
#settingsField .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#settingsField .increment-button ,
#settingsField .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#settingsField .scroll-bar:horizontal .thumb,
#settingsField .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#settingsField .scroll-bar:horizontal .thumb:hover,
#settingsField .scroll-bar:vertical .thumb:hover,
#settingsField .scroll-bar:horizontal .thumb:pressed,
#settingsField .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
/******************************************************************************************/
/* The apply button to apply some visualization property changes */
/******************************************************************************************/
#applyButton {
	-fx-alignment: center;
	-fx-pref-width: 160px;
	-fx-max-width: 160px;
	-fx-min-width: 160px;
	-fx-min-height: 50px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #3ea3f8;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0c8bf6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#applyButton:disabled, #applyButton:disabled > * {
	-fx-opacity: 0.7;
}
#applyButton:hover {
	-fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
} 
#applyButton:hover {
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
}
/******************************************************************************************/
/* The start button to advance to the user screen */
/******************************************************************************************/
#startButton {
	-fx-alignment: center;
	-fx-pref-width: 400px;
	-fx-max-width: 400px;
	-fx-min-width: 400px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #8f8fd3;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #6f6fc7;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#startButton:disabled, #startButton:disabled > * {
	-fx-opacity: 0.7;
}
#startButton:hover {
	-fx-background-color: linear-gradient(#8f8fd3, #6f6fc7);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The run button to run a command the user has entered */
/******************************************************************************************/
#runButton {
	-fx-alignment: center;
	-fx-pref-width: 120px;
	-fx-max-width: 120px;
	-fx-min-width: 120px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #ffa6a6;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #ff8888;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#runButton:disabled, #runButton:disabled > * {
	-fx-opacity: 0.7;
}
#runButton:hover {
	-fx-background-color: linear-gradient(#ffa6a6, #ff8888);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The clear button to run a command the user has entered */
/******************************************************************************************/
#clearButton {
	-fx-alignment: center;
	-fx-pref-width: 120px;
	-fx-max-width: 120px;
	-fx-min-width: 120px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #62d1e2;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #1fbed6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#clearButton:disabled, #clearButton:disabled > * {
	-fx-opacity: 0.7;
}
#clearButton:hover {
	-fx-background-color: linear-gradient(#62d1e2, #1fbed6);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The Error button which displays the error and closes on click */
/******************************************************************************************/
#errorButton {
	-fx-alignment: center;
	-fx-pref-width: 120px;
	-fx-max-width: 700px;
	-fx-min-width: 700px;
	-fx-pref-height: 50px;
	-fx-max-height: 50px;
	-fx-min-height: 50px;
	-fx-background-radius: 6;
	-fx-background-color: #69b366;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #1e8d19;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#errorButton:hover {
	-fx-background-color: linear-gradient(#69b366, #1e8d19);
	-fx-font: 18px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The drop down choice box the user uses to pick a language to use in the program */
/******************************************************************************************/
#languageChooser {
	-fx-alignment: center;
    -fx-background-color: #fa9873;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #f97f51;
    -fx-padding: 0;
}
#languageChooser .list-cell {
	-fx-pref-width: 190px;
	-fx-max-width: 190px;
	-fx-min-width: 190px;
	-fx-pref-height: 50px;
	-fx-min-height: 50px;
    -fx-background: #fa9873;
    -fx-background-color: #fa9873;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
}
#languageChooser .list-view {
    -fx-background-color: transparent;
}    
#languageChooser .list-view .list-cell {
	-fx-background-color: #fa9873;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #f97f51;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
}
#languageChooser .arrow-button {
	-fx-background-color: transparent
}
#languageChooser .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#languageChooser:hover {
	-fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
}
#languageChooser:hover .list-cell {
	-fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
    -fx-font: 18px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:hover .arrow-button {
	-fx-background-color: linear-gradient(#fa9873, #f97f51);
}
#languageChooser:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#languageChooser:showing {
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:showing .list-cell {
	-fx-pref-width: 160px;
	-fx-max-width: 160px;
	-fx-min-width: 160px;
	-fx-pref-height: 50px;
	-fx-min-height: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-font: 16px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:showing .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#languageChooser:showing .arrow-button {
	-fx-background-color: transparent;
}
#languageChooser:showing:hover {
    -fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
    -fx-font: 18px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:showing:hover .list-cell{
    -fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
    -fx-font: 18px Dekko;
    -fx-font-weight: bold;
}
#languageChooser:showing:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#languageChooser .list-view .list-cell:filled:selected, 
#languageChooser .list-view .list-cell:filled:selected:hover {
    -fx-background: linear-gradient(#fa9873, #f97f51);
    -fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
}
#languageChooser .list-view .list-cell:filled:hover {
    -fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
    -fx-font: 18px Dekko;
    -fx-font-weight: bold;
}
#languageChooser .scroll-bar:horizontal ,
#languageChooser  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#languageChooser .scroll-bar .increment-arrow ,
#languageChooser .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#languageChooser .increment-button ,
#languageChooser .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#languageChooser .scroll-bar:horizontal .thumb,
#languageChooser .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#languageChooser .scroll-bar:horizontal .thumb:hover,
#languageChooser .scroll-bar:vertical .thumb:hover,
#languageChooser .scroll-bar:horizontal .thumb:pressed,
#languageChooser .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#languageChooser:disabled {
    -fx-opacity: .4;
}
/******************************************************************************************/
/* The drop down choice box in the settings used to pick a language to use in the program */
/******************************************************************************************/
#languageSettingsChooser {
	-fx-alignment: center;
    -fx-background-color: #eb8585;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #e66767;
    -fx-padding: 0;
}
#languageSettingsChooser .list-cell {
	-fx-pref-width: 190px;
	-fx-max-width: 190px;
	-fx-min-width: 190px;
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
    -fx-background: #eb8585;
    -fx-background-color: #eb8585;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#languageSettingsChooser .list-view {
    -fx-background-color: transparent;
}    
#languageSettingsChooser .list-view .list-cell {
	-fx-background-color: #eb8585;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #e66767;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#languageSettingsChooser .arrow-button {
	-fx-background-color: transparent
}
#languageSettingsChooser .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#languageSettingsChooser:hover {
	-fx-background-color: linear-gradient(#eb8585, #e66767);
    -fx-text-fill: #ffffff;
}
#languageSettingsChooser:hover .list-cell {
	-fx-background-color: linear-gradient(#eb8585, #e66767);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#languageSettingsChooser:hover .arrow-button {
	-fx-background-color: linear-gradient(#eb8585, #e66767);
}
#languageSettingsChooser:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#languageSettingsChooser:showing {
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#languageSettingsChooser:showing .list-cell {
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#languageSettingsChooser:showing .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#languageSettingsChooser:showing .arrow-button {
	-fx-background-color: transparent;
}
#languageSettingsChooser:showing:hover {
    -fx-background-color: linear-gradient(#eb8585, #e66767);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#languageSettingsChooser:showing:hover .list-cell{
    -fx-background-color: linear-gradient(#eb8585, #e66767);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#languageSettingsChooser:showing:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#languageSettingsChooser:showing:hover .arrow-button {
	
}
#languageSettingsChooser .list-view .list-cell:filled:selected, 
#languageSettingsChooser .list-view .list-cell:filled:selected:hover {
    -fx-background: linear-gradient(#eb8585, #e66767);
    -fx-background-color: linear-gradient(#eb8585, #e66767);
    -fx-text-fill: #ffffff;
}
#languageSettingsChooser .list-view .list-cell:filled:hover {
    -fx-background-color: linear-gradient(#eb8585, #e66767);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#languageSettingsChooser .scroll-bar:horizontal ,
#languageSettingsChooser  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#languageSettingsChooser .scroll-bar .increment-arrow ,
#languageSettingsChooser .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#languageSettingsChooser .increment-button ,
#languageSettingsChooser .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#languageSettingsChooser .scroll-bar:horizontal .thumb,
#languageSettingsChooser .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#languageSettingsChooser .scroll-bar:horizontal .thumb:hover,
#languageSettingsChooser .scroll-bar:vertical .thumb:hover,
#languageSettingsChooser .scroll-bar:horizontal .thumb:pressed,
#languageSettingsChooser .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#languageSettingsChooser:disabled {
    -fx-opacity: .4;
}
/******************************************************************************************/
/* The drop down choice box the user uses to pick a background color of the turtle panel */
/******************************************************************************************/
#backgroundColorChooser {
	-fx-alignment: center;
    -fx-background-color: #69b9af;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #4ca398;
    -fx-padding: 0;
}
#backgroundColorChooser .list-cell {
	-fx-pref-width: 190px;
	-fx-max-width: 190px;
	-fx-min-width: 190px;
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
    -fx-background: #69b9af;
    -fx-background-color: #69b9af;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#backgroundColorChooser .list-view {
    -fx-background-color: transparent;
}    
#backgroundColorChooser .list-view .list-cell {
	-fx-background-color: #69b9af;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #4ca398;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#backgroundColorChooser .arrow-button {
	-fx-background-color: transparent
}
#backgroundColorChooser .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#backgroundColorChooser:hover {
	-fx-background-color: linear-gradient(#69b9af, #4ca398);
    -fx-text-fill: #ffffff;
}
#backgroundColorChooser:hover .list-cell {
	-fx-background-color: linear-gradient(#69b9af, #4ca398);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#backgroundColorChooser:hover .arrow-button {
	-fx-background-color: linear-gradient(#69b9af, #4ca398);
}
#backgroundColorChooser:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#backgroundColorChooser:showing {
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#backgroundColorChooser:showing .list-cell {
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#backgroundColorChooser:showing .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#backgroundColorChooser:showing .arrow-button {
	-fx-background-color: transparent;
}
#backgroundColorChooser:showing:hover {
    -fx-background-color: linear-gradient(#69b9af, #4ca398);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#backgroundColorChooser:showing:hover .list-cell{
    -fx-background-color: linear-gradient(#69b9af, #4ca398);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#backgroundColorChooser:showing:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#backgroundColorChooser .list-view .list-cell:filled:selected, 
#backgroundColorChooser .list-view .list-cell:filled:selected:hover {
    -fx-background: linear-gradient(#69b9af, #4ca398);
    -fx-background-color: linear-gradient(#69b9af, #4ca398);
    -fx-text-fill: #ffffff;
}
#backgroundColorChooser .list-view .list-cell:filled:hover {
    -fx-background-color: linear-gradient(#69b9af, #4ca398);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#backgroundColorChooser .scroll-bar:horizontal ,
#backgroundColorChooser  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#backgroundColorChooser .scroll-bar .increment-arrow ,
#backgroundColorChooser .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#backgroundColorChooser .increment-button ,
#backgroundColorChooser .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#backgroundColorChooser .scroll-bar:horizontal .thumb,
#backgroundColorChooser .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#backgroundColorChooser .scroll-bar:horizontal .thumb:hover,
#backgroundColorChooser .scroll-bar:vertical .thumb:hover,
#backgroundColorChooser .scroll-bar:horizontal .thumb:pressed,
#backgroundColorChooser .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#backgroundColorChooser:disabled {
    -fx-opacity: .4;
}
/******************************************************************************************/
/* The drop down choice box the user uses to pick a pen color of the turtle  */
/******************************************************************************************/
#penColorChooser {
	-fx-alignment: center;
    -fx-background-color: #3ea3f8;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0c8bf6;
    -fx-padding: 0;
}
#penColorChooser .list-cell {
	-fx-pref-width: 190px;
	-fx-max-width: 190px;
	-fx-min-width: 190px;
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
    -fx-background: #3ea3f8;
    -fx-background-color: #3ea3f8;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#penColorChooser .list-view {
    -fx-background-color: transparent;
}    
#penColorChooser .list-view .list-cell {
	-fx-background-color: #3ea3f8;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0c8bf6;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#penColorChooser .arrow-button {
	-fx-background-color: transparent
}
#penColorChooser .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#penColorChooser:hover {
	-fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
    -fx-text-fill: #ffffff;
}
#penColorChooser:hover .list-cell {
	-fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#penColorChooser:hover .arrow-button {
	-fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
}
#penColorChooser:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#penColorChooser:showing {
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#penColorChooser:showing .list-cell {
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#penColorChooser:showing .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#penColorChooser:showing .arrow-button {
	-fx-background-color: transparent;
}
#penColorChooser:showing:hover {
    -fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#penColorChooser:showing:hover .list-cell{
    -fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#penColorChooser:showing:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#penColorChooser .list-view .list-cell:filled:selected, 
#penColorChooser .list-view .list-cell:filled:selected:hover {
    -fx-background: linear-gradient(#3ea3f8, #0c8bf6);
    -fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
    -fx-text-fill: #ffffff;
}
#penColorChooser .list-view .list-cell:filled:hover {
    -fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#penColorChooser .scroll-bar:horizontal ,
#penColorChooser  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#penColorChooser .scroll-bar .increment-arrow ,
#penColorChooser .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#penColorChooser .increment-button ,
#penColorChooser .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#penColorChooser .scroll-bar:horizontal .thumb,
#penColorChooser .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#penColorChooser .scroll-bar:horizontal .thumb:hover,
#penColorChooser .scroll-bar:vertical .thumb:hover,
#penColorChooser .scroll-bar:horizontal .thumb:pressed,
#penColorChooser .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#penColorChooser:disabled {
    -fx-opacity: .4;
}
/******************************************************************************************/
/* The drop down choice box the user uses to pick a pen color of the turtle  */
/******************************************************************************************/
#turtleImageChooser {
	-fx-alignment: center;
    -fx-background-color: #fa9873;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #f97f51;
    -fx-padding: 0;
}
#turtleImageChooser .list-cell {
	-fx-pref-width: 190px;
	-fx-max-width: 190px;
	-fx-min-width: 190px;
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
    -fx-background: #fa9873;
    -fx-background-color: #fa9873;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#turtleImageChooser .list-view {
    -fx-background-color: transparent;
}    
#turtleImageChooser .list-view .list-cell {
	-fx-background-color: #fa9873;
    -fx-background-radius: 6;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #f97f51;
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#turtleImageChooser .arrow-button {
	-fx-background-color: transparent;
}
#turtleImageChooser .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#turtleImageChooser:hover .list-cell {
	-fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#turtleImageChooser:hover .arrow-button {
	-fx-background-color: linear-gradient(#fa9873, #f97f51);
}
#turtleImageChooser:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#turtleImageChooser:showing {
    -fx-text-fill: #ffffff;
    -fx-wrap-text: true;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#turtleImageChooser:showing .list-cell {
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-min-height: 40px;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
	-fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
}
#turtleImageChooser:showing .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 12px Dekko;
}
#turtleImageChooser:showing .arrow-button {
	-fx-background-color: transparent;
}
#turtleImageChooser:showing:hover {
    -fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#turtleImageChooser:showing:hover .list-cell{
    -fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#turtleImageChooser:showing:hover .arrow {
	-fx-background-color: #ffffff;
	-fx-font: 14px Dekko;
}
#turtleImageChooser .list-view .list-cell:filled:selected, 
#turtleImageChooser .list-view .list-cell:filled:selected:hover {
    -fx-background: linear-gradient(#fa9873, #f97f51);
    -fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
}
#turtleImageChooser .list-view .list-cell:filled:hover {
    -fx-background-color: linear-gradient(#fa9873, #f97f51);
    -fx-text-fill: #ffffff;
    -fx-font: 14px Dekko;
    -fx-font-weight: bold;
}
#turtleImageChooser .scroll-bar:horizontal ,
#turtleImageChooser  .scroll-bar:vertical {
    -fx-background-color: transparent;
}
#turtleImageChooser .scroll-bar .increment-arrow ,
#turtleImageChooser .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
#turtleImageChooser .increment-button ,
#turtleImageChooser .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}
#turtleImageChooser .scroll-bar:horizontal .thumb,
#turtleImageChooser .scroll-bar:vertical .thumb {
    -fx-background-color: #c0bcb6;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#turtleImageChooser .scroll-bar:horizontal .thumb:hover,
#turtleImageChooser .scroll-bar:vertical .thumb:hover,
#turtleImageChooser .scroll-bar:horizontal .thumb:pressed,
#turtleImageChooser .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: linear-gradient(to right, #c0bcb6, #aca9a3);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
#turtleImageChooser:disabled {
    -fx-opacity: .4;
}
/******************************************************************************************/
/* The settings button to switch to the settings panel */
/******************************************************************************************/
#settingsButton {
	-fx-alignment: center;
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-max-height: 40px;
	-fx-min-height: 40px;
	-fx-background-radius: 6;
	-fx-background-color: #eb8585;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #e66767;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#settingsButton:disabled, #applyButton:disabled > * {
	-fx-opacity: 0.7;
}
#settingsButton:hover {
	-fx-background-color: linear-gradient(#eb8585, #e66767);
	-fx-font: 14px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The variables button to switch to the variables panel */
/******************************************************************************************/
#variablesButton {
	-fx-alignment: center;
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-max-height: 40px;
	-fx-min-height: 40px;
	-fx-background-radius: 6;
	-fx-background-color: #69b9af;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #4ca398;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#variablesButton:hover {
	-fx-background-color: linear-gradient(#69b9af, #4ca398);
	-fx-font: 14px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The history button to switch to the history panel */
/******************************************************************************************/
#historyButton {
	-fx-alignment: center;
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-max-height: 40px;
	-fx-min-height: 40px;
	-fx-background-radius: 6;
	-fx-background-color: #3ea3f8;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #0c8bf6;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#historyButton:hover {
	-fx-background-color: linear-gradient(#3ea3f8, #0c8bf6);
	-fx-font: 14px Dekko;
	-fx-font-weight: bold;
} 

/******************************************************************************************/
/* The help button to switch to the help panel */
/******************************************************************************************/
#helpButton {
	-fx-alignment: center;
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-max-height: 40px;
	-fx-min-height: 40px;
	-fx-background-radius: 6;
	-fx-background-color: #8f8fd3;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #6f6fc7;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#helpButton:hover {
	-fx-background-color: linear-gradient(#8f8fd3, #6f6fc7);
	-fx-font: 14px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The user commands button to switch to the user commands panel */
/******************************************************************************************/
#commandsButton {
	-fx-alignment: center;
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-max-height: 40px;
	-fx-min-height: 40px;
	-fx-background-radius: 6;
	-fx-background-color: #fa9873;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #f97f51;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#commandsButton:hover {
	-fx-background-color: linear-gradient(#fa9873, #f97f51);
	-fx-font: 14px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* The back button to switch from a specific info panel to the Info panels navigation panel */
/******************************************************************************************/
#backButton {
	-fx-alignment: center;
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 40px;
	-fx-max-height: 40px;
	-fx-min-height: 40px;
	-fx-background-radius: 6;
	-fx-background-color: #8f8fd3;
	-fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-border-color: #6f6fc7;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font: 12px Dekko;
    -fx-font-weight: bold;
    -fx-underline: false;
}
#backButton:hover {
	-fx-background-color: linear-gradient(#8f8fd3, #6f6fc7);
	-fx-font: 14px Dekko;
	-fx-font-weight: bold;
} 
/******************************************************************************************/
/* Centers a VBox or HBox used for aligning control object locations */
/******************************************************************************************/
#centerBox {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-background-color: #f3f3f3;
}
/******************************************************************************************/
/* Holds the user input area, used to position text area control object locations */
/******************************************************************************************/
#centerTextField {
	-fx-spacing: 10;
	-fx-padding: 0;
	-fx-alignment: center;
	-fx-background-color: #f3f3f3;
}
/******************************************************************************************/
/* Box containing the run button */
/******************************************************************************************/
#runBox {
	-fx-alignment: center;
	-fx-spacing: 10;
	-fx-pref-width: 200px;
	-fx-max-width: 200px;
	-fx-min-width: 200px;
	-fx-pref-height: 140px;
	-fx-max-height: 140px;
	-fx-min-height: 140px;
	-fx-background-color: #f3f3f3;
	-fx-background-radius: 6;
	-fx-padding: 0 0 0 0;
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 0;
	-fx-border-radius: 6;
	-fx-border-color: #555555;
}
/******************************************************************************************/
/* ImageView for the turtle */
/******************************************************************************************/
#turtleView {
	
}

